---
title: Buy Startup Notes
---

<a href="http://startupnotes.org" class="header">
  <i class="icon-book"></i>
  back to <strong>Startup Notes</strong>
</a>

<header>
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="maintext">
          <h2>Doodles from Startup School 2013</h2>
          <h1><strong>Startup Notes:</strong> The Book</h1>
          <h3><span><em>100%</em> of proceeds donated to <span class='watsi'>Watsi</span></span></h3>
          <br>
          <a href="javascript:alert('Soon!');" class="button">Buy Now</a>
        </div>
        <a href="http://fiftythree.com" target="_blank" class="thanks">
          <div class="fiftythree-logo"><div></div></div>
          <p>Huge thanks to <strong>FiftyThree</strong>, the makers of Paper and Book, for working with Startup Notes to make this happen. Aside from handling printing, they generously are donating 100% of their profits to Watsi.</p>
        </a>
      </div>
      <div class="col-sm-6">
        <img class="book" src="img/book.png">
      </div>
    </div>
  </div>
</header>

<div class="container middle">
  <div class="row">
    <div class="col-sm-8">
      <p>Hey HN&mdash;</p>
      <p>Like everyone else at Startup School, I was mesmorized by Chase Adam’s talk about Watsi, the nonprofit that funds medical care for people around the world. His talk left me wanting to help out somehow.</p>
      <p>When I drew my <a href="http://startupnotes.org">Startup Notes</a>, I wasn't expecting it to get as popular as it did. I recieved hundreds of emails about the project. Many asked me to sell a physical copy, which I had no intention of doing.</p>
      <p>Then I had an idea. Bill Morein from FiftyThree, the company behind doodling app <a href="http://fiftythree.com" target="_blank">Paper</a>, had reached
        out to me about Startup Notes. I asked if FiftyThree would be interested in printing and selling Startup Notes as a physical book, and donating part of it to Watsi. FiftyThree liked the idea, and offered to donate their entire profit to Watsi. So, neither FiftyThree nor I will make any money off this &mdash; after printing costs, everything goes to funding medical care via Watsi.</p>
      <p>We reached out to Chase, the founder of Watsi, and they were also on board.</p>
      <p>The doodles in the book have been completely redrawn in full color, and look beautiful printed on a Moleskine notebook. They're filled with quotes from
        all the Startup School 2013 speakers &mdash; Mark Zuckerberg, Ron Conway, Jack Dorsey, Chase Adam and more.</p>
      <p>Thanks to Bill Morein for helping out, FiftyThree for being so generous, Chase Adam for making Watsi happen, Moleskine for doing the actual printing, the speakers for doing such an amazing job, and Y-Combinator for putting on Startup School.</p>
      <p>Gregory Koberger</p>

    </div>
    <div class="col-sm-4 sidebar">
      <h4>The Product</h4>
      <ul class="product">
        <li><strong>15 pages</strong> of Startup Notes doodles, completely redrawn in full color using Paper.</li>
        <li>100% of profits will go to Watsi.</li>
      </ul>

      <h4>The Quotees</h4>
      <ul>
        <li><strong>Phil Libin</strong> Founder, Evernote</li>
        <li><strong>Dan Siroker</strong> Founder, Optimizely</li>
        <li><strong>Ron Conway</strong> Partner, SV Angel</li>
        <li><strong>Chris Dixon</strong> Partner, A16Z</li>
        <li><strong>Diane Greene</strong> Founder, VMWare</li>
        <li><strong>Balaji Srinivasan</strong> Founder, Counsyl</li>
        <li><strong>Chase Adam</strong> Founder, Watsi</li>
        <li><strong>Jack Dorsey</strong> Founder, Twitter, Square</li>
        <li><strong>Mark Zuckerberg</strong> Founder, Facebook</li>
        <li><strong>Nathan Blecharczyk</strong> Founder, Airbnb</li>
      </ul>

      <h4>Disclaimer</h4>
      <p>None of the speakers (except Chase Adam) nor Y-Combinator/Startup School have anything to do with this book. The quotes belong to the respective speakers.</p>
    </div>
  </div>
</div>

<div class="divider"></div>

<div class="faq">
<div class="container">
  <h4>Questions</h4>
  <p class="more">Have a question we didn't answer? Please send me an email at <a href="mailto:gkoberger@gmail.com">gkoberger@gmail.com</a>.
<div class="row">
  <div class="col-sm-4 col-sm-offset-1 q">
    How much money goes to Watsi?
  </div>
  <div class="col-sm-6 a">
    <p>We'll be donating everything that doesn't go to printing. The exact amount depends on the number of orders, however at a minimum, one-third the price of the books will go to Watsi. Watsi will publish a blog post
      after detailing the numbers after the donations are sent to them.</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-4 col-sm-offset-1 q">
    How is money being handled?
  </div>
  <div class="col-sm-6 a">
    <p>The money is being collected by Startup Notes. We'll write a check to both FiftyThree and Watsi once orders are placed.</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-4 col-sm-offset-1 q">
    Is Watsi aware of this?
  </div>
  <div class="col-sm-6 a">
    <p>Yes! We reached out to Chase when we had the idea, and he's on board.</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-4 col-sm-offset-1 q">
    Is this the same as Startup Notes?
  </div>
  <div class="col-sm-6 a">
    <p>The quotes are mostly the same, however they have been completely redrawn using Paper. The original sketches were done in realtime while at the conference, so redoing them gave me a chance to reflect on what was important and how best to present it.</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-4 col-sm-offset-1 q">
    I want to help Watsi, but the book is too expensive / I want to donate directly / etc.
  </div>
  <div class="col-sm-6 a">
    <p>The point of printing this book is to help Watsi, so please feel free to skip ordering the book and <a href="https://watsi.org" target="_blank">donate
        directly to Watsi</a>.
  </div>
</div>
</div>
</div>

<div class="photo">
</div>

